body {
    background: url(/assets/sonic-backgnd1.jpeg);
    background-size: 95%;
    width: 100vw;
    background-repeat: no-repeat;

    z-index: -1;
}
.dino {
    position: absolute;
    left: 60px;
    width: 90px;
    height: 90px;
    background: url(/assets/sonic.png) no-repeat;
    background-color: transparent;
    bottom: 0;
}

.obstacle {
    position: absolute;
    width: 90px;
    height: 90px;
    background: url(/assets/enemy.png) no-repeat;
    bottom: 0;
}

#alert {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    display: none;
}